<div class="row">
  <div class="col-md-1"> </div>
  <div class="col-md-3">
    <h3>{{login}}</h3>
    <div class="panel panel-default">
      <div class="panel-heading">About</div>


        <ul class="list-group">
          <li class="list-group-item"><strong>Name:</strong> {{model.user.name}}</li>
          <li class="list-group-item"><strong>Company: </strong>{{model.user.company}}</li>
          <li class="list-group-item"><strong>BlogURL: </strong>{{model.user.blog}}</li>
          <li class="list-group-item"><strong>Follower Count: </strong>{{model.user.followers}}</li>
          <li class="list-group-item"><strong>Following Count: </strong>{{model.user.following}}</li>
          <li class="list-group-item"><strong>Creation Date: </strong>{{model.user.created_at}}</li>
        </ul>
      </div>
  </div>

  <div class="col-md-7"> 
    <h3>Repositories</h3>
    {{#each model.repos}}
      <div class="well">{{name}}</div>
    {{/each}}
  </div>
</div>